/*------------------------------------General styling*/
body {
    margin: 0;
}

/*------------------------------------Text styling*/
p {
	color: #F2F2F2;
}


/*------------------------------------Intro Section Styling*/
.intro-section-row {
    height: 100vh;
	background: #F23827 url("../images/first-divide.png") no-repeat scroll;
	background-position: bottom -25px center;
	background-size: 100% 126px;
}

/*------------------------------------About Section Styling*/
.about-section-row {
    height: 100vh;
	background: #F25041;
	background: #F25041 url("../images/second-divide.png") no-repeat scroll;
	background-position: bottom -25px center;
	background-size: 100% 126px;
}

/*------------------------------------Portfolio Section Styling*/
.portfolio-section-row {
    height: 100vh;
	background: #404040;
}

/*------------------------------------Process Section Styling*/
.process-section-row {
    height: 100vh;
	background: #F25041;
}

/*------------------------------------Contact Section Styling*/
.contact-section-row {
    height: 100vh;
	background: #404040;
}

/*------------------------------------Footer Section Styling*/
.footer-section-row {
	background: blue;
}