@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&family=Source+Sans+Pro:wght@900&display=swap'); /*------------------------------------Google Fonts*/

/*------------------------------------General styling*/
body {
    margin: 0;
}
/*------------------------------ General text styling*/
p {
    color: #F2F2F2;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
}

a:hover {
    color: #404040;
}

a {
    color: #404040;
    text-decoration: none;
}

.page-icons {
	color: #404040;
}

/*----------------------------- Specific text styling*/
/*--------------------------- Navigation text styling*/
.nav-link {
	color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand-overwrite {
	font-family: 'Roboto', sans-serif;
	color: #F2F2F2;
}

.navbar-dark .navbar-nav .nav-link {
    color: #F2F2F2;
}

.logo {
	height: 20px;
}

/*--------------------------------- Intro text styling*/
.intro-h1 {
	line-height: 52px;
    font-size: 47px;
	color: #404040;
}

.intro-paragraph {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}


/*------------------------------ Portfolio text styling*/
.portfolio-section-title {
	font-size: 47px;
    color: #F27166;
    text-align: center;
    text-transform: uppercase;
}
.card-title-text {
	font-family: 'Source Sans Pro', sans-serif;
	color: #404040;
    text-align: center;
	
}

.card-main-text {
	font-family: 'Roboto', sans-serif;
	color: #F2F2F2;
	font-weight: 100;
    text-align: justify;
}

.section-titles1 {
	color: #F27166;
}

/*---------------------------------- About text styling*/
.about-section-title {
	font-size: 47px;
    color: #404040;
    text-align: center;
    text-transform: uppercase;
}

.about-paragraph {
	text-align: justify;
	font-weight: 100;
}

.about-icons {
	color: #404040;
}

.about-icons1 {
	color: #404040;
    font-size: 50px;
    text-align: center;
    margin-top: -12px;
    margin-left: 0px;
}

.about-icons-text {
	text-align: center;
    font-size: 16px;
    margin-top: -16px;
}

/*------------------------------ Process text styling*/
.process-section-title {
	font-size: 47px;
    color: #404040;
    text-align: center;
    text-transform: uppercase;
}

.process-button {
	text-align: center;
}

.process-paragraph {
	text-align: justify;
	font-weight: 100;
}

.process-card-body {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
    text-align: justify;
    color: #F2F2F2;
    background-color: #404040;
    margin-bottom: 10px;
}

.steps-larger-screens-text-left {
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 47px;
    color: #404040;
    text-transform: uppercase;
    padding-left: 20px;
	text-align: center;
}

.steps-larger-screens-text-right {
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 47px;
    color: #404040;
    text-transform: uppercase;
    padding-left: 20px;
    text-align: center;
}


/*------------------------------ Contact form text styling*/
.form-label-override {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
    color: #F2F2F2;
}

.contact-section-title {
	font-size: 47px;
    color: #F27166;
    text-align: center;
    text-transform: uppercase;
}

/*------------------------------ Footer text styling*/
.footer-section-text {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.footer-icons {
	color: #404040;
	font-size: 30px;
}

.footer-icons:hover {
	color: #F2F2F2;
}

.footer-email {
	color: #F2F2F2;
}

/*------------------------------------Navigation styling =) the magical bar of wonders..*/
.bg-red {
    background-color: #F23827;
    -moz-box-shadow: 1px 7px 18px 0px rgba(0, 0, 0, 0.89);
    -webkit-box-shadow: 1px 7px 18px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 1px 7px 18px 0px rgba(0, 0, 0, 0.54);
    box-shadow: 1px 7px 18px 0px rgba(0, 0, 0, 0.20);
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    -moz-box-shadow: 1px 7px 18px 0px rgba(0, 0, 0, 0.89);
    -webkit-box-shadow: 1px 7px 18px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 1px 7px 18px 0px rgba(0, 0, 0, 0.54);
    box-shadow: 1px 7px 18px 0px rgba(0, 0, 0, 0.20);
}

.navbar-toggler-styling {
	color: #F2F2F2;
}


/*------------------------------------Intro Section Styling*/
.intro-section-row {
    height: 100vh;
    background: #F23827 url("../images/first-divide.png") no-repeat scroll;
    background-position: bottom -25px center;
    background-size: 100% 126px;
	text-align: center;
}

.btn-warning {
    color: #F2F2F2;
    background-color: #404040;
    border-color: #404040;
	font-family: 'Source Sans Pro', sans-serif;
}

.btn-warning:active {
    color: #F2F2F2;
    background-color: #404040;
    border-color: #404040;
	font-family: 'Source Sans Pro', sans-serif;
}

.btn-warning:active {
    color: #F2F2F2;
    background-color: #404040;
    border-color: #404040;
	font-family: 'Source Sans Pro', sans-serif;
}

.btn-warning:hover {
    color: #404040;
    background-color: #F2F2F2;
    border-color: #404040;
	font-family: 'Source Sans Pro', sans-serif;
	animation-duration: 1s;
}




/*------------------------------------About Section Styling*/
.about-section-row {
    background: #F25041;
    background: #F25041 url("../images/second-divide.png") no-repeat scroll;
    background-position: bottom -25px center;
    background-size: 100% 126px;
	padding-top: 20px;
	padding-bottom: 102px;
}

.photo {
	width: 100%;
    height: auto;
    border-radius: 25px;
    -moz-box-shadow: 1px 7px 18px 0px rgba(0, 0, 0, 0.89);
    -webkit-box-shadow: 1px 7px 18px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 1px 7px 18px 0px rgba(0, 0, 0, 0.54);
    box-shadow: 1px 7px 18px 0px rgba(0, 0, 0, 0.40);
	margin-bottom: 20px;
}

.about-skills-icons-row {
	margin-left: 0;
    margin-right: 0;
}

.progress-bar-styling {
	margin-top: -15px;
}

.about-column {
	text-align: center;
}

	.about-button {
	margin-bottom: 10px;
	}

.progress-bar-bg {
    background-color: #404040;
}

/*------------------------------------Portfolio Section Styling*/
.portfolio-section-row {
	background: #404040 url("../images/third-divide.png") no-repeat scroll;
    background-position: bottom -25px center;
    background-size: 100% 126px;
	padding-top: 20px;
    padding-bottom: 102px;
}

.card-main-styling {
	background: #F23827;
	border-radius: 25px;
}

.card-img, .card-img-top {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.portfolio-card-margin {
	margin-top: 20px;
}

/*------------------------------------Process Section Styling*/
.process-section-row {
/*    height: 100vh;*/
    background: #F25041 url(../images/fourth-divide.png) no-repeat scroll;
    background-position: bottom -25px center;
    background-size: 100% 126px;
    padding-top: 20px;
    padding-bottom: 102px;
}
	
/*------------------------------------Contact Section Styling*/
.contact-section-row {
/*    height: 100vh;*/
    background: #404040;
    padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: #F27166;
    border-color: #F27166;
	font-family: 'Source Sans Pro', sans-serif;
}

.btn-primary:hover {
    color: #fff;
    background-color: #F27166;
    border-color: #F27166;
	font-family: 'Source Sans Pro', sans-serif;
}
/*------------------------------------Footer Section Styling*/
.footer-section-row {
	background-color: #F23827;
    -moz-box-shadow: 1px 7px 18px 0px rgba(0, 0, 0, 0.89);
    -webkit-box-shadow: 1px 7px 18px 0px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 1px 7px 18px 0px rgba(0, 0, 0, 0.54);
    box-shadow: 1px -8px 18px 0px rgba(0, 0, 0, 0.20);
	padding-top: 20px;
	text-align: center;
}		

/*------------------------------------ The land of Queries... */
/* ------------------------ smaller phone viewpoints up to most tablet viewpoints */
@media only screen and (min-width: 320px) and (max-width: 767px) {
	.progress-bar-row {
		display: none;
	}
	.process-columns-section {
		display: none;
	}
}

/* ------------------------ small devices and most phones */
@media only screen and (min-width: 480px) {

}

/* ------------------------ most tablets */
@media only screen and (min-width: 768px) {
	.about-skills-icons-row {
		display: none;
	}
	
	.portfolio-card-margin {
	margin-top: 0px;
}
	
	.first-row-portfolio {
		margin-bottom: 20px;
	}
	
	.process-buttons-section {
		display: none;
	}
}

/* ------------------------ smaller desktop viewpoints */
@media only screen and (min-width: 992px) {

}

/* ------------------------ large devices and wide screens */
@media only screen and (min-width: 1200px) {
	.about-section-row {
    height: 100vh;
}
	
	.process-section-row {
    height: 100vh;
}
	
	.contact-section-row {
    height: 100vh;
}
}